


<mat-card class="my-card">
        <mat-card-content>
            <form class="my-form">
              
                   <br>
                   
                   <mat-form-field class="full-width">
                    <mat-label>UserId</mat-label>
                    <input matInput type="emailId"  placeholder="Email" name="email" class="form-control" [(ngModel)]="user.userName" id="email">
                 </mat-form-field>
                 <br>
                 <mat-form-field class="full-width">
                    <mat-label>new-Password</mat-label>
                    <input  matInput  type="password" name="password" class="form-control"[(ngModel)]="user.userPassword"  id="password">
                 </mat-form-field>
                   
               
        
        <br>
        <button class="btn btn-success" (click)="updateUser()">Create</button>
        
        
        
            </form>
          </mat-card-content>
        </mat-card>
        
        