/* body{
    height: 50%;
}
.mat-toolbar {
    background:rgb(203, 221, 120);
    height: 10%;
    color: rgba(0,0,0,.87);
    font-family: 'Courier New', Courier, monospace

}
.example-header-image {
   
    background-image:url('https://icon-library.net/images/book-app-icon/book-app-icon-8.jpg');
    background-size: 100%;
  }

  .register-container{
      padding: 70px 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  } 
  form.example {
    float: left;
    width: 20%;
    padding: 10px;
   
    color: white;
    font-size: 17px;
 
    cursor: pointer;
   }
   form.example button:hover {
    background: #0b7dda;
   }
   .mat-button{
     font-family: Arial
   } */
   .navbar-brand {
    color: #FF5722;
}
.logo {
    margin-right: 1em;
}
.user-action-link
{
    background: #33ccff;
    padding: .3em .8em;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em
}



.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: inherit;
  /* white-space: nowrap; */
}


.navbar{
  background-color: rgb(46, 117, 117)

}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color:#009999;
}