
.mat-card{
    background-color: bisque;
    height: 50%;
    box-shadow: 0 0 10px #80DEEA;
background: rgba(128,131,122,0.2);
   box-shadow: 0 0 10px #80DEEA;
   border: 0;
   border-radius: 15px;
   color: #fff;
   margin: 1em;
   padding: 0;
}
.button{
    
    margin-left: 25%;
   
}