
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let card of result">
          <mat-card>
             <mat-card-header>
                 <mat-card-title>{{card.name}}</mat-card-title>
             </mat-card-header>
              <mat-card-content>
                     Book: {{card.url}}

              </mat-card-content>
            
              <button class="button"id="button" mat-raised-button color="primary" style= "color:white" (click)="recommend(card)"style="setColor('button', '#101010')">Recommend</button> 
             <!-- <input type="submit"id="button" value = "button" style= "color:white" (click)="recommend(card)"/>Recommend -->

            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>     
        <!-- <div class="card" style="width: 18rem;" *ngFor="let card of result"> -->
          
          